{% extends 'base.html' %}
{% block container %}

<div class="container">
  {% if error == False  %}
  <h1 class="text-center">Country:Usa and Category:Business</h1>
  {% for item in data %}
  {% if item.urlToImage != None and item.title != None and item.description != None and item.content != None and item.url != None %}
    <div class="jumbotron my-5">
      <img src="{{item.urlToImage}}" alt="{{item.urlToImage}}" height="200px">
      <h1 class="display-10"> <b>Title :</b> <i>{{item.title}}</i></h1>
      <p class="lead"><b>Description :</b> <i>{{item.description}}</i></p>
      <hr class="my-4">
      <p><b>Content : </b> <i>{{item.content}}</i></p>
      <a class="btn btn-primary btn-lg" href="{{item.url}}">Click here view details</a>
    </div>
    <hr>
    {% endif %}
    {% endfor %}
    {% endif %}
  {% if error == True  %}
  <h1 class="text-center">No result found !</h1>

    <div class="jumbotron my-5">
      <h1 class="display-10">  <i>Sorry ! 404 </i></h1>
      <p class="lead"><b>Api could not working properly 😒 | but our website is now working properly</b></p>
      <hr class="my-4">
    </div>
    <hr>
    {% endif %}
</div>


{% endblock %}